# Prerequisites
*.d

# Visual Studio detritus
*.dylib
*.ipch
*.log
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.iobj
*.ipdb
*.pdb
*.db
vc41.pdb
*.suo
*.bak
*.opendb
*.jpg

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/launch.json
src/.vscode/c_cpp_properties.json
src/.vscode/tasks.json
src/moveOutputImages.cmd
*.code-workspace
